<?xml version="1.0" encoding="UTF-8"?>
<AppConfig>
    <Sensors>
        <Sensor>
            <unique_id>1131570933</unique_id>
            <description>SMR TNF NORTE</description>
            <ip></ip>
            <latitude>28.4775</latitude>
            <longitude>-16.3325</longitude>
            <category>10</category>
            <system_id_code>1</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>197493099</unique_id>
            <description>SMR PALMA MALLORCA</description>
            <ip></ip>
            <latitude>39.5486</latitude>
            <longitude>2.73276</longitude>
            <category>10</category>
            <system_id_code>2</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1404280278</unique_id>
            <description>SMR BARAJAS-1</description>
            <ip></ip>
            <latitude>40.4682</latitude>
            <longitude>-3.56873</longitude>
            <category>10</category>
            <system_id_code>3</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>893351816</unique_id>
            <description>SMR BARAJAS-2</description>
            <ip></ip>
            <latitude>40.4918</latitude>
            <longitude>-3.56905</longitude>
            <category>10</category>
            <system_id_code>4</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1505795335</unique_id>
            <description>SMR ASTURIAS</description>
            <ip></ip>
            <latitude>43.5646</latitude>
            <longitude>-6.03062</longitude>
            <category>10</category>
            <system_id_code>5</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1954899097</unique_id>
            <description>SMR SANTIAGO</description>
            <ip></ip>
            <latitude>42.8981</latitude>
            <longitude>-8.41303</longitude>
            <category>10</category>
            <system_id_code>6</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1636807826</unique_id>
            <description>SMR BARCELONA</description>
            <ip>225.31.214.1:4001</ip>
            <latitude>41.2956</latitude>
            <longitude>2.09511</longitude>
            <category>10</category>
            <system_id_code>7</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>563613512</unique_id>
            <description>ARP TNF NORTE</description>
            <ip></ip>
            <latitude>28.4827</latitude>
            <longitude>-16.3415</longitude>
            <category>20</category>
            <system_id_code>101</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>101929267</unique_id>
            <description>ARP PALMA MALLORCA</description>
            <ip></ip>
            <latitude>39.5487</latitude>
            <longitude>2.73276</longitude>
            <category>10</category>
            <system_id_code>102</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1580723810</unique_id>
            <description>ARP BARAJAS</description>
            <ip></ip>
            <latitude>40.4722</latitude>
            <longitude>-3.56094</longitude>
            <category>20</category>
            <system_id_code>104</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>704877633</unique_id>
            <description>ARP ASTURIAS</description>
            <ip></ip>
            <latitude>43.5636</latitude>
            <longitude>-6.03462</longitude>
            <category>20</category>
            <system_id_code>105</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1358580979</unique_id>
            <description>ARP BARCELONA</description>
            <ip>225.31.212.111:6001</ip>
            <latitude>41.2971</latitude>
            <longitude>2.07846</longitude>
            <category>20</category>
            <system_id_code>107</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1624379149</unique_id>
            <description>ARP MALAGA</description>
            <ip></ip>
            <latitude>36.675</latitude>
            <longitude>-4.49921</longitude>
            <category>20</category>
            <system_id_code>108</system_id_code>
            <system_area_code>0</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>2128236579</unique_id>
            <description>ADS-B TWR BILBAO</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>203</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>784558821</unique_id>
            <description>ADS-B EDIF ALLENDE (INDRA)</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>204</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>530511967</unique_id>
            <description>ADS-B EDIF ALLENDE(THALES)</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>205</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>2110010672</unique_id>
            <description>ADS-B LLZ ALICANTE</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>206</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1551901393</unique_id>
            <description>ADS-B TWR GRANADA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>207</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1617819336</unique_id>
            <description>ADS-B RADR CANCHO BLANCO</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>208</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1399125485</unique_id>
            <description>ADS-B MLAT ASTURIAS</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>209</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>156091745</unique_id>
            <description>ADS-B RADR LANZAROTE</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>210</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1356425228</unique_id>
            <description>ADS-B RADR TURRILLAS</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>211</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1899894091</unique_id>
            <description>ADS-B LLZ MENORCA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>212</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>585640194</unique_id>
            <description>ADS-B CPD IBIZA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>213</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>937186357</unique_id>
            <description>ADS-B RADR VALDESPINA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>214</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1646035001</unique_id>
            <description>ADS-B RADR PARACUELLOS 1</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>215</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1025921153</unique_id>
            <description>ADS-B RADR RANDA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>216</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>510616708</unique_id>
            <description>ADS-B PRUEBAS BECKER</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>217</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>590357944</unique_id>
            <description>ADS-B RADR GERONA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>218</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>771515668</unique_id>
            <description>ADS-B RADR BARCELONA</description>
            <ip>225.31.210.21:8600</ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>219</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>357571490</unique_id>
            <description>ADS-B RADR ESPINEIRAS</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>220</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1044788124</unique_id>
            <description>ADS-B RADR PARACUELLOS 2</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>221</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1927702196</unique_id>
            <description>ADS-B RADR ESPINEIRAS 2</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>222</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1952509530</unique_id>
            <description>ADS-B VOR VEJER</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>223</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>130060903</unique_id>
            <description>ADS-B VOR YESTE</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>224</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1942727722</unique_id>
            <description>ADS-B TWR VIGO 1</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>225</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1083454666</unique_id>
            <description>ADS-B TWR VIGO 2</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>226</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1108728549</unique_id>
            <description>ADS-B SMR SANTIAGO</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>227</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>685118024</unique_id>
            <description>ADS-B MLAT SANTIAGO</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>228</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>2118797801</unique_id>
            <description>ADS-B CPD IBIZA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>229</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>1060806853</unique_id>
            <description>ADS-B COM VALENCIA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>230</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
        <Sensor>
            <unique_id>571540977</unique_id>
            <description>ADS-B TWR SEVILLA</description>
            <ip></ip>
            <latitude>nan</latitude>
            <longitude>nan</longitude>
            <category>21</category>
            <system_id_code>231</system_id_code>
            <system_area_code>20</system_area_code>
        </Sensor>
    </Sensors>
</AppConfig>